services:
  web:
    image: nginx
    ports:
      - "8082:80"
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: testdb
    ports:
      - "3307:3306"
