version: '3.9'

services:
  web:
    image: nginx
    ports:
      - "8083:80"
    volumes:
      - ./web/index.html:/usr/share/nginx/html/index.html
    depends_on:
      - db
      - redis

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: testdb
    ports:
      - "3308:3306"

  redis:
    image: redis:7.0
    ports:
      - "6379:6379"
